.notifications {
  margin: 0;
  padding: 0 40px;

  box-sizing: border-box;
}
// Заголовок
.notifications__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  font-family: "vida33pro", Arial, Helvetica, sans-serif;
  font-size: 34px;
}
// Список новостей
.notifications__list {
  margin: 0;
  padding: 0;
  margin-bottom: 90px;

  list-style: none;
}
.notifications__item {
  position: relative;

  margin: 0;
  padding: 24px;
  padding-bottom: 18px;
  margin-bottom: 32px;

  border: 1px solid #edeeee;
  border-radius: 10px;
  &:last-child {
    margin-bottom: 0;
  }
}
// Дата новости
.item__date {
  width: 77px;
  margin: 0;
  padding: 0;

  font-family: "vida31pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  background-color: #edeeee;
}
// Заголовок новости
.item__subtitle {
  width: 86%;
  margin: 0;
  padding: 0;

  font-family: "vida33pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 26px;
}
// Кнопка развернуть
.item__button {
  display: block;
  width: 24px;
  height: 24px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/arrow-down_mobile.png");

  cursor: pointer;
  &.open {
    background-image: url("../img/arrow-up_mobile.png");
  }
}
// Текст новости
.item__text {
  width: 90%;
  margin: 0;
  padding: 0;

  font-family: "vida31pro", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
}
@media (min-width: 768px) {
  .item__text {
    margin-top: 5px;
    & .br__tablet {
      display: none;
    }
  }
  .notifications__list  {
    margin-bottom: 80px;
  }
}
@media (min-width: 1440px) {
  .notifications {
    padding-top: 5px;
    padding-left: 36px;
    padding-right: 0;
  }
  .notifications__list {
    margin-bottom: 60px;
  }
  .notifications__caption {
    margin-bottom: 40px;
  }
  .notifications__item {
    margin-bottom: 27px;
    padding-bottom: 20px;
    &:first-child {
      margin-bottom: 23px;
      padding-bottom: 40px;
    }
    &.active {
      padding-bottom: 30px;
      margin-bottom: 22px;
    }
  }
  .item__text {
    & .br__tablet {
      display: inline;
    }
  }
}
