.page-main__menu {
  margin: 0 auto;
  padding: 0 40px;

  box-sizing: border-box;
}
//
// Выпадающие меню
.page-main__list {
  position: relative;

  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 31px;
  padding-top: 12px;
  padding-bottom: 10px;

  border: 1px solid #ddddde;
  border-radius: 22px;

  box-sizing: border-box;
  &::after {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-60%);

    content: url("../img/menu-arrow_mobile.png");

    cursor: pointer;
  }
}
.page-main__item {
  display: none;
  &.active {
    display: block;
  }
}
.item-caption {
  margin: 0;
  padding: 0;

  font-family: "vida31pro";
  font-size: 16px;
}
.item-quantity {
  position: absolute;
  top: -33px;
  left: 133px;

  width: 22px;

  font-family: "vida33pro";
  font-size: 13px;
  line-height: 50px;
  text-align: center;

  color: #ffffff;

  background: url("../img/notification-quantity_mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
//
// Список адресов
.page-main__address-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 75px;

  list-style: none;
}
.page-main__address-item {
  min-width: 283px;
  width: 50%;
  margin: 0;
  padding: 0;
  padding-left: 38px;
  padding-right: 35px;

  box-sizing: border-box;
  &:first-child{
    padding-left: 0;
    padding-right: 55px;

    border-right: 1px solid #ddddde;
  }
}
.address__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 12px;

  font-family: "vida33pro";
  font-size: 24px;
  color: #893b67;
}
.address__wrapper {
  display: flex;
  justify-content: space-between;
}
.address__text {
  margin: 0;
  padding: 0;

  font-family: "vida31pro";
  font-size: 16px;
  line-height: 24px;
}
.address__link {
  position: relative;

  margin: 0;
  padding: 0;

  font-family: "vida33pro";
  font-size: 14px;
  line-height: 24px;
  color: #893b67;
  text-decoration: none;
  &::after {
    position: absolute;
    left: 120%;
    top: 3px;

    content: url("../img/icons-right-arrow_mobile.png");
  }
}
//
@media (min-width: 768px) {
  .item-quantity {
    left: 125px;
  }
  .page-main__address-item:first-child {
    padding-right: 70px;
  }
}
@media (min-width: 1440px) {
  .page-main__article {
    display: flex;
    padding-left: 93px;
    padding-right: 82px;
    padding-bottom: 80px;
  }
  .page-main__menu {
    min-width: 28.12%;
    padding: 0;

    border-right: 1px solid #ddddde;
  }
  .page-main__list {
    margin-bottom: 15px;
    padding-top: 20px;
    padding-left: 0;

    border: none;
    &::after {
      content: "";
    }
  }
  .page-main__item {
    display: block;
    margin-bottom: 37px;
    padding-left: 22px;

    color: #893b67;
    &:nth-child(6) {
      margin-bottom: 22px;
    }
    &.active {
      position: relative;

      width: 280px;
      padding-top: 13px;
      padding-bottom: 12px;

      color: #000000;

      border: 1px solid #ddddde;
      border-radius: 22px;

      box-sizing: border-box;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .item-quantity {
    position: absolute;

    left: 95%;
  }
  .page-main__address-list {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 22px;
  }
  .page-main__address-item {
    min-width: 276px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 35px;

    border-top: 1px solid #ddddde;
    &:first-child {
      padding-bottom: 35px;
      padding-right: 0;

      border-right: none;
    }
  }
  .address__wrapper {
    display: flex;
    justify-content: flex-start;
  }
  .address__caption {
    margin-bottom: 8px;

    font-size: 24px;
  }
  .address__text {
    font-size: 16px;
    margin-right: 143px;
  }

}
