// Верхние меню
.page-header__wapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  width: 92.19%;
  margin: 0;
  padding: 15px 40px;

  box-sizing: border-box;
  &.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: auto;
    padding-top: 24px;
  }
}
// Логотип в шапке
.page-header__logo {
  margin-right: 22.34%;
  align-self: center;
  &.open {
    align-self: auto;
    margin-bottom: 116px;
  }
}
// Телефон в шапке
.page-header__phone-wrapper {
  display: flex;
}
.page-header__phone {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  align-self: center;

  font-family: "vida33pro";
  font-size: 18px;
  line-height: 20px;
  &.open {
    margin-right: 44px;

    font-size: 40px;
  }
}
.page-header__phone-img {
  margin-right: 21px;

  cursor: pointer;
}
// Кнопка меню
.page-header__button {
  position: absolute;
  top: 34px;
  right: 0;

  width: 32px;
  height: 21px;
  margin: 0;
  padding: 0;
  align-self: center;

  border: none;
  background-color: transparent;
  background-image: url("../img/menu-button_mobile.png");
  background-repeat: no-repeat;
  &.open {
    width: 32px;
    height: 32px;

    border: none;
    background-color: transparent;
    background-image: url("../img/close-button_mobile.png");
    background-repeat: no-repeat;
  }
}
// Кнопка "Личный кабинет"
.page-header__personal-area {
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: 57px;

  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;

  border: none;
  background-color: transparent;

  cursor: pointer;
  &.open {
    display: block;

    text-align: left;
  }
}
// Список в выпадающем меню
.page-header__menu-list {
  display: none;
  &.show {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 442px;

    list-style: none;
  }
}
.page-header__menu-item {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}
.page-header__menu-link {
  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;
  text-decoration: none;

  cursor: pointer;
}
// Уведомления
.page-header__notification-wrapper {
  position: relative;

  display: none;
  margin-bottom: 50px;
  &.open {
    display: block;
  }
}
.page-header__notification {
  width: 27px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-right: 21px;

  border: none;
  background-color: transparent;
  background-image: url("../img/notification-menu_mobile.png");
  background-repeat: no-repeat;

  cursor: pointer;
}
.page-header__notification-link {
  margin: 0;
  padding: 0;

  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;
  text-decoration: none;

  cursor: pointer;
}
.page-header__notification-quantity {
  position: absolute;
  left: 15px;
  top: -30px;

  width: 22px;
  margin: 0;
  padding: 0;

  font-family: "vida33pro";
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  background: url("../img/notification-quantity_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}
// Основная картинка
.page-header__picture {
  min-height: 232px;
  margin-bottom: 50px;

  background-image: url("../img/header-img_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}



