// Верхние меню
.page-header__wapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
  width: 95%;
  margin: 0;
  padding: 15px 40px;

  box-sizing: border-box;
  &.show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    vertical-align: auto;
    padding-top: 24px;
  }
}
// Логотип в шапке
.page-header__logo {
  margin-right: 22.34%;
  align-self: center;
  &.open {
    align-self: auto;
    margin-bottom: 116px;
  }
}
// Телефон в шапке
.page-header__phone-wrapper {
  display: flex;
}
.page-header__phone {
  margin: 0;
  padding: 0;
  margin-right: 8px;
  align-self: center;

  font-family: "vida33pro";
  font-size: 18px;
  line-height: 20px;
  &.open {
    margin-right: 44px;

    font-size: 40px;
  }
}
.page-header__phone-img {
  margin-right: 21px;

  cursor: pointer;
}
// Кнопка меню
.page-header__button {
  position: absolute;
  top: 34px;
  right: 7px;

  width: 32px;
  height: 21px;
  margin: 0;
  padding: 0;
  align-self: center;

  border: none;
  background-color: transparent;
  background-image: url("../img/menu-button_mobile.png");
  background-repeat: no-repeat;
  &.open {
    width: 32px;
    height: 32px;

    border: none;
    background-color: transparent;
    background-image: url("../img/close-button_mobile.png");
    background-repeat: no-repeat;
  }
}
// Кнопка "Личный кабинет"
.page-header__personal-area {
  display: none;
  margin: 0;
  padding: 0;
  margin-bottom: 65px;

  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;

  border: none;
  background-color: transparent;

  cursor: pointer;
  &.open {
    display: block;

    text-align: left;
  }
}
// Список в выпадающем меню
.page-header__menu-list {
  display: none;
  &.show {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 447px;

    list-style: none;
  }
}
.page-header__menu-item {
  margin-bottom: 37px;

  &:last-child {
    margin-bottom: 0;
  }
}
.page-header__menu-link {
  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;
  text-decoration: none;

  cursor: pointer;
}
// Уведомления
.page-header__notification-wrapper {
  position: relative;

  display: none;
  margin-bottom: 45px;
  &.open {
    display: block;
  }
}
.page-header__notification {
  width: 27px;
  height: 20px;
  margin: 0;
  padding: 0;
  margin-right: 15px;

  border: none;
  background-color: transparent;
  background-image: url("../img/notification-menu_mobile.png");
  background-repeat: no-repeat;

  cursor: pointer;
}
.page-header__notification-link {
  margin: 0;
  padding: 0;

  font-family: "vida31pro";
  font-size: 24px;
  line-height: 20px;
  color: #893b67;
  text-decoration: none;

  cursor: pointer;
}
.page-header__notification-quantity {
  position: absolute;
  left: 15px;
  top: -30px;

  width: 22px;
  margin: 0;
  padding: 0;

  font-family: "vida33pro";
  font-size: 13px;
  line-height: 50px;
  text-align: center;
  color: #ffffff;

  background: url("../img/notification-quantity_mobile.png");
  background-repeat: no-repeat;
  background-position: center;
}
// Основная картинка
.page-header__picture {
  min-height: 232px;
  margin-bottom: 55px;

  background-image: url("../img/header-img_mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 768px) {
  .page-header__menu-list.show {
    margin-bottom: 190px;
  }
  .page-header__menu-item  {
    margin-bottom: 40px;
  }
  .page-header__phone-wrapper {
    &.open {
      margin-bottom: 37px;
    }
  }
  .page-header__picture {
    position: relative;

    background-image: url("../img/header-img_tablet.png");
  }
  .page-header__logo {
    align-self: baseline;
    padding-top: 10px;
    &.open {
      align-self: flex-start;
      padding-top: 1px;
      margin-bottom: 116px;
    }
  }
  .page-header__picture-addres.hidden {
    position: absolute;
    left: 40px;
    bottom: 14%;

    display: block;
    margin: 0;
    padding: 10px 26px;

    font-family: "vida33pro";
    font-size: 18px;
    color: #7f8387;

    background-color: #ffffff;
  }
  .page-header__picture-object.hidden {
    position: absolute;
    left: 40px;
    bottom: -6%;

    display: block;
    margin: 0;
    padding: 10px 26px;

    font-family: "vida33pro";
    font-size: 31px;


    background-color: #ffffff;
  }
}
@media (min-width: 1280px) {
  .page-header__wapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
  }
  .page-header__logo {
    margin-right: 40px;
  }
  .page-header__menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 32.2%;
    margin: 0;
    padding: 0;
    margin-right: 218px;
    padding-top: 5px;

    list-style: none;
  }
  .page-header__menu-item {
    display: inline;
    margin: 0;
    padding: 0;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
  .page-header__menu-link {
    font-size: 14px;
  }
  .page-header__notification-wrapper {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    margin-right: 25px;
    padding-top: 10px;
  }
  .page-header__notification {
    width: 18px;
    height: 12px;
    margin-right: 10px;

    align-self: center;
    background-image: url("../img/notification-menu_table.png");
  }
  .page-header__notification-link {
    font-size: 14px;
    vertical-align: middle;
  }
  .page-header__notification-quantity {
    left: 5px;
    top: -15px;

    font-size: 11px;

    background: url("../img/notification-quantity_table.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .page-header__personal-area {
    position: relative;

    display: block;
    align-self: center;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 7px;
    padding-left: 16px;
    padding-right: 31px;
    margin-right: 23px;
    margin-top: 7px;


    font-size: 14px;
    line-height: normal;
    color: #000000;

    border: 1px solid #ddddde;
    border-radius: 27px;
    &::after {
      position: absolute;
      top: 13px;
      right: 10px;

      width: 8px;
      height: 6px;

      content: "";
      background-image: url("../img/personal-arrow-down.png");
      background-repeat: no-repeat;
    }
  }
  .page-header__phone-img {
    margin: 0;
  }

  .page-header__button {
    display: none;
  }
  .page-header__picture {
    background-image: url("../img/header-img_table.png");
  }
  .page-header__picture-addres.hidden {
    bottom: 21%;
    left: 93px;

    padding-left: 20px;
    padding-right: 20px;
  }
  .page-header__picture-object.hidden {
    left: 93px;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;

    text-align: center;
    font-size: 50px;
  }
}
