body {
  min-width: 640px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.hidden {
  display: none;
}
@font-face {
  font-family: "vida31pro";
  src: url("../fonts/vida31pro.otf");
  font-style: normal;
}
@font-face {
  font-family: "vida33pro";
  src: url("../fonts/vida33pro.otf");
  font-style: normal;
}
@import "page-header.scss";
@import "page-main__menu.scss";
@import "notifications.scss";
@import "event.scss";
@import "page-footer.scss";
